.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0 0 2.5rem 0;
  font-family: IBMPlexSans, sans-serif;
  overflow-x: hidden;
}

.quiz_form {
  width: 80vw;
}

.quiz_title {
  text-align: center;
  margin: 0;
}

.quiz_container {
  width: 80vw;
}

.answer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-top: 1.25rem;
  animation: slideInRight 0.3s linear forwards;
}

.neumorphism {
  position: relative;
  color: #fff;
  background: linear-gradient(to bottom, #171717, #242424);
  border-radius: 624.9375rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 1), 0 0.625rem 1.25rem rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
  border: 0.0625rem solid #292929;
  padding: 0.625rem 1.25rem;
  margin: 0;
  width: 100%;
}

.neumorphism::before {
  content: "";
  position: absolute;
  top: -0.125rem;
  right: -0.0625rem;
  bottom: -0.0625rem;
  left: -0.0625rem;
  background: linear-gradient(to bottom, #292929, #000000);
  z-index: -1;
  border-radius: 624.9375rem;
  transition: all 0.5s ease;
  opacity: 1;
}

.question {
  color: #e0e0e0;
  background: linear-gradient(to bottom, #2e2e2e, #3c3c3c);
  border: 0.0625rem solid #4a4a4a;
  padding: 0.75rem 1.5rem;
  margin: 1.25rem 0;
}

.question::before {
  background: linear-gradient(to bottom, #3c3c3c, #1c1c1c);
  opacity: 0.8;
}

.answer_wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.question_container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.right_answer .answer_image_container {
  background-color: #00c853 !important;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.8) !important;
}

.wrong_answer .answer_image_container {
  background-color: #f44336 !important;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.8) !important;
}

.answer_image_container {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.answer_image_container img {
  width: 2.5rem;
  height: 2.5rem;
}

.answer_image_container:hover {
  background-color: #2a2a2a;
}

.result_message {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1.25rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}
