.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
}

.loginButton:hover {
  background-color: var(--bg-primary);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.googleButton {
  background-color: var(--google);
  color: var(--color-primary);
}

.githubButton {
  background-color: var(--github);
  color: var(--bg-primary);
}

.facebookButton {
  background-color: var(--facebook);
  color: var(--color-primary);
}

.loginIcon {
  margin: 0 0 0 10px;
  padding: 0;
}
