.login_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 15.625rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: 0.0625rem solid transparent;
  transition: all 0.5s ease-in-out;
}

.login_button:hover {
  background-color: var(--bg-primary);
  color: var(--color-primary);
  border: 0.0625rem solid var(--color-primary);
}

.login_title {
  margin-left: 0.3125rem;
}

.google_button {
  background-color: var(--google);
  color: var(--color-primary);
}

.x_button {
  background-color: var(--x);
  color: var(--bg-primary);
}

.github_button {
  background-color: var(--github);
  color: var(--bg-primary);
}

.facebook_button {
  background-color: var(--facebook);
  color: var(--color-primary);
}

.lottie_google {
  width: 2.1875rem;
  padding: 0.25rem 0 0 1.5625rem;
}

.lottie_facebook {
  width: 3.125rem;
  padding: 0.25rem 0 0 0.625rem;
}

.lottie_github {
  width: 3.75rem;
  padding: 0.25rem 0 0 0.3125rem;
}

.lottie_x {
  width: 2.1875rem;
  padding: 0.25rem 0 0 1.25rem;
}
