.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.subcontainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 1.25rem;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lottieQuestion {
  width: 18.75rem;
  z-index: -1;
}

.lottieTwoQuestions {
  width: 18.75rem;
}
