.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 70px;
  width: 100%;
}

.animationToHeader {
  overflow: hidden;
  height: 100vh;
  animation: toHeader 2s ease forwards 3s;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.link {
  color: var(--color-primary);
  text-decoration: none;
  margin: 10px 50px 0 0;
  font-size: 32px;
}

.adminLink {
  color: var(--color-primary);
  text-decoration: none;
  margin: 0 20px 0 0;
  font-size: 32px;
}

.animationToTitle {
  opacity: 0;
  font-size: 1px;
  animation: toTitle 2s ease forwards 3s;
}

.lottieQuiz {
  width: 150px;
  margin-top: 5px;
}

.animationToLogo {
  width: 100vw;
  animation: toLogo 2s ease forwards 3s;
}

.avatarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0;
}

.buttonLogout {
  width: 100px;
  height: 50px;
  font-family: Bangers, display;
  font-size: 32px;
  color: var(--color-primary);
  background-color: var(--bg-primary);
  border: none;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 30px;
}

@keyframes toHeader {
  to {
    height: 80px;
    overflow: initial;
  }
}

@keyframes toTitle {
  to {
    opacity: 1;
    font-size: 32px;
  }
}

@keyframes toLogo {
  to {
    width: 200px;
  }
}
