#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.lottieQuestion {
  width: 300px;
}

.lottieCheck {
  width: 100px;
}

.lottieError {
  width: 50px;
}

.lottieTwoQuestions {
  width: 300px;
}
