.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.lottieQuiz {
  width: 100%;
  animation: toLogo 2s ease forwards 3s;
}

.lottieQuestion {
  width: 300px;
}

.lottieCheck {
  width: 100px;
}

.lottieError {
  width: 50px;
}

.lottieTwoQuestions {
  width: 300px;
}

@keyframes toLogo {
  to {
    width: 250px;
  }
}
