.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: IBMPlexSans, sans-serif;
  overflow-x: hidden;
}

.quiz_title {
  text-align: center;
  margin: 0;
}

.total_questions {
  font-size: 14px;
}

.quiz_container {
  width: 80vw;
  max-width: 1080px;
}

.answer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  animation: slideInRight 0.2s linear forwards;
}

.neumorphism {
  position: relative;
  color: #fff;
  background: linear-gradient(to bottom, #171717, #242424);
  border-radius: 9999px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1), 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
  border: 1px solid #292929;
  padding: 10px 20px;
  margin: 0;
  width: 100%;
}

.neumorphism::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background: linear-gradient(to bottom, #292929, #000000);
  z-index: -1;
  border-radius: 9999px;
  transition: all 0.2s ease;
  opacity: 1;
}

.quiz_form {
  width: 80vw;
  max-width: 1080px;
}

.radio_input {
  display: none;
}

.answer_wrapper {
  display: flex;
  align-items: center;
}

.question_container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.answer_wrapper:nth-child(1) {
  animation: slideInRight 0.2s linear forwards;
}

.answer_wrapper:nth-child(2) {
  animation: slideInRight 0.4s linear forwards;
}

.answer_wrapper:nth-child(3) {
  animation: slideInRight 0.6s linear forwards;
}

.answer_wrapper:nth-child(4) {
  animation: slideInRight 0.8s linear forwards;
}

.answer_wrapper:nth-child(5) {
  animation: slideInRight 1s linear forwards;
}

.answer_wrapper:nth-child(6) {
  animation: slideInRight 1.2s linear forwards;
}

.question {
  color: #e0e0e0;
  background: linear-gradient(to bottom, #2e2e2e, #3c3c3c);
  border: 1px solid #4a4a4a;
  padding: 12px 24px;
  margin: 20px 0;
}

.question::before {
  background: linear-gradient(to bottom, #3c3c3c, #1c1c1c);
  opacity: 0.8;
}

.answer_image_container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.answer_image_container img {
  width: 40px;
  height: 40px;
}

.answer_image_container:hover {
  background-color: #2a2a2a;
}

.radio_input:checked + .question_container .answer_image_container {
  background-color: #4caf50;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 40px;
}

@keyframes slideInRight {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(0);
  }
}
